*{
  text-decoration: none;
  box-sizing: border-box;
}
ul,ol,dl{
  list-style:none;
}
a{
  color: inherit;
}
#root{display: flex;justify-content: center;}
.App {
  position: relative;
  text-align: center;
  color: #333;
  border: 1px solid #aaa;
  border-radius: 8px;
  background: #FEFEFE;
  margin: 2em;
  padding: 0 2em;
  min-height: 40em;
  min-width: 50em;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
}
.App .username{font-size: 14px;color: #999;position: absolute;top: 15px;left: 15px;border-bottom: 1px solid; }
.App .username h1{margin: 10px 0 ;}
.App > h1>button{position: absolute;top: 40px;left: 15px;background: #fefefe;;border:none;padding: 0;color: #999;border-bottom: 1px solid;}
.App > h1>button:hover{color: #d43c33}
.App .inputWrapper{padding-bottom: 5px;}
.App .inputWrapper .TodoInput{width: 50%;font-size: 20px;padding-left: 6px;padding-bottom: 6px;outline: none; border: none;border-bottom: 1px solid #000;}
.App > .todoList> li{padding: 5px 0;position: relative;}
.App > .todoList> li:nth-child(odd){
  background: #eee;
}
.App > .todoList> li:nth-child(even){
  background: transparent;
}
.App > .todoList> li .title.completed{color: rgb(184, 184, 184)}
.App > .todoList> li button{display: none;position: absolute;right: 10px;}
.App > .todoList> li:hover button{display: block;}
.App > .todoList .TodoItem input{
  text-align: center;
  width: 20px;
  height: 20px;
  outline: none;
  border-radius: 50px;
  border: 1px solid #999;
}

input::-webkit-input-placeholder{color:#ddd;font-family: "Times New Roman", Times, serif;font-style: italic}
